*{
    margin: 0px;
    padding: 0px;
}

#n1 {
    display: flex;
    align-items: center;
    position: absolute;
    margin-bottom: 0%;
    width: 100%;
    top: 0%;
    left: 0;
    margin-top: 0%;
}

#logo img {
    height: 40px;
    width: 40px;
    margin: 3px 6px;
}
 #fl{
    /* display: flex; */
    float: right;
}
#n1 ul {
    display: flex;
}

.l {
    list-style-type: none;
    color: whitesmoke;
    font-size: 1rem;
}

#n1 ul li a {
    color: whitesmoke;
    display: block;
    padding: 3px 10px;
    border-radius: 20px;
    text-decoration: none;
}

#n1 ul li a:hover {
    color: black;
    background-color:#dd7f7f;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#n1::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .6;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 200px;
    z-index: -1;
    height: 100%;
    font-family: 'Inconsolata', monospace;
}
#home p{
    color: #c7dad8;
}

#home::before {
    content: "";
    position: absolute;
    background: url('../images/paper.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 1;
     height: 1260px; 
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .99;
}

.h {
    color: rgb(175, 41, 41);
    padding: 20px;
    padding-left:30px ;
    font-size: 3rem;
    text-align: center;
    font-family: 'Bree Serif', serif;
    padding-top: 100px;

}
#home .headimg{
    display: flex;
padding-top: 10px;
padding-bottom:13px ;

}
#home .headimg img{
    width: 100px;
    height: 100px;
    padding-left: 10px;
    padding-top: 70px;

}
#formsection{
   width: 40%;
   display: flex;
   /* height: 100px; */
   justify-content: center;
   align-items: center;
}
#formsection .formgrp input{
    width: 100%;
    padding: 10px 0px 10px 20px;
    border-radius: 9px;
    font-family: 'Bree Serif', serif;
    /* padding-bottom: 10px; */
}
/*  */
#formsection .formgrp label{
    width: 100%;
    font-size: 1.6;
    padding-top: 10px;
    border-radius: 9px;
    font-family: 'Bree Serif', serif;
    /* padding-bottom: 10px; */
}



.switch{
    padding: 10px;
    font-size: 1rem;
}
.switch a{
    padding: 5px 10px 5px 10px;
  text-decoration: none;
  color: #b11515;
}
.switch a:hover{
 border-radius: 15px;
  color: #e2d9d9;
  background-color: #dd7f7f;
  padding: 5px 10px 5px 10px;
}
.formgrp1{
    padding : 10px 20px 20px 60px;
}